<% layout('layouts/boilerplate') %>

<link rel="stylesheet" href="../../assets/stylesheets/conferense.css" />

<!-- <h1 class="text-center mt-4 mb-4">All Conferences</h1> -->

<section id="gallery">
  <div class="container">
    <div class="row">
      <% for (let conference of conferences) { %>
      <div class="col-lg-4 mb-4">
        <div class="card">
          <% conference.images.forEach(image => { %>
          <img
            crossorigin="anonymous"
            src="<%= image.url %>"
            class="card-img-top"
            alt="Conference Image"
          />
          <% }) %>

          <div class="card-body">
            <h5 class="card-title"><%= conference.title %></h5>
            <p class="card-text"><%= conference.description %></p>
            <a
              href="/conference/<%= conference.id %>"
              class="btn btn-outline-success btn-sm"
              >Read More</a
            >
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</section>
